body {
    font-family: Arial, sans-serif;
    background-color: #e6f2e6;
    margin: 0;
}

header {
    background-color: #1a5e1a;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #297829;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #c7f7c7;
}

.container {
    width: 85%;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #1a5e1a;
}

.gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}
